/* Universal styles */
html {
  font-size: 16px;
}

header, main, footer{
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
}

.flex, nav, ul{
  display: flex;
  align-items: center;
}

nav{
  padding-right: 1.5rem;
}

li{
  padding: 0 .5rem;
}

a{
  text-decoration: none;
  color: black;

}

h1{
  font-size: 2.75rem;
  font-weight: bolder;
  padding: 2rem 0;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}

h3{
  font-size: 1.5rem;
  font-weight: bold;
}

h4{
  font-size: 1rem;
  font-weight: normal;
  padding: .5rem 0;
}

/* Header styles */

header{
  height: 4rem;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  font-size: 1.2rem;
}

header img{
  height: 3rem;
}

header .logo{
  font-size: 2rem;
  padding-left: 1.5rem;
  flex: 1;
}

header span{
  color: lightgrey;
}

nav ul{
  display: flex;
}

.mobile{
  display: none;
}

@media only screen and (max-width:860px){
  .desktop{
    display: none;
  }

  .mobile{
    display: block;
    width: 100%;
    padding-left: 3rem;
  }

  .mobile ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home-link{
    display: none;
  }
}

@media only screen and (max-width:640px){
  .logo{
    display: none;
  }

  .home-link{
    display: list-item;
  }
}

/* Main styles */

main{
  position: relative;
  top: 4rem;
  bottom: 5rem;
  flex-direction: column;
}

.banner{
  background-color: lightgrey;
}

.banner img{
  max-width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
}

.banner-info{
  max-width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn{
  width: 70%;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem 0;
  margin: 2rem 0;
}

@media only screen and (max-width:780px){
  .banner{
    flex-direction: column;
  }

  .banner img{
    min-width: 100%;
    padding: 0;
  }

  .banner-info{
    min-width: 80%;
  }

  .banner-link{
    flex-direction: row;
    min-width: 80%;
    align-items: center;
    margin-bottom: 2rem;
  }

  .btn{
    margin: 0;
  }
}

@media only screen and (max-width:480px){
  .banner-link{
    flex-direction: column;
  }

  .btn{
    margin-top: 1.5rem;
    width: 100%
  }
}

.news{
  align-items: stretch;
}

.left-container{
  max-width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
}

.right-container{
  max-width: 40%;
  height: auto;
  margin: 1rem 0;
  padding: .5rem 0;
}

.news .right-container{
  border-left: solid lightgrey 1px;
}

.left-container img{
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.right-container img{
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.news .left-container p{
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.left-container span{
  font-size: .8rem;
  font-weight: bold;
  font-style: italic;
}

.right-container p{
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.right-container a{
  color: blue;
}

.courses{
  flex-direction: column;
  padding: 2rem 0;
  background-color: lightgrey;
}

.group{
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 0 3.5rem;
  padding-top: 1rem;
}

.course{
  max-width: 30%;
  height: auto;
  margin: 1rem;
  background-color: white;
}

.course img{
  width: 100%;
  height: auto;
}

.course article{
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.exibit{
  flex-direction: column;
  padding: 2rem 0;
}

.exibit-content{
  flex-direction: row;
  align-items: stretch;
}

.exibit-content .left-container p{
  padding-top: 0.5rem;
}

video{
  width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
}

.btm-Correction{
  padding: 4.5rem;
}
/* Footer styles */

footer{
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: baseline;
  font-size: .8rem;
  padding-top: 1rem;
  border-top: solid black 1px;
  padding-bottom: 3rem;
}

footer p{
  padding-left: 1.5rem;
}
